*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif;
}
img{
    width: 100%;
}
/*header*/
.logo{
    max-width: 200px;
}

/*containers*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.small-c{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

/*flex*/
.d-flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.align{
    align-items: center;
    align-content: center;
}
.down{
    align-items: flex-end;
}
/*main*/
.box-img{
    background-image: url(../img/1.webp);
    background-size: cover;
    min-height: 600px;
    width: 300px;
    background-position: center;
}

/*footer*/
































.txt-align{
    text-align: left;
}